---
- name: add prompt to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: 'PROMPT={{ prompt }}'
    marker: '# {mark} Prompt setting'
    create: yes
  when: prompt != None

- name: generate SSH key
  openssh_keypair:
    path: '{{item}}'
    type: ed25519
    state: present
    force: no
  loop: '{{ ssh_keys }}'

- name: add ssh key to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: |
      ssh-add {{ item}} 2> /dev/null
    marker: '# {mark} SSH KEY {{ item }}'
    create: yes
  with_fileglob:
    - '~/.ssh/*id_ed25519'
    - '~/.ssh/*id_rsa'

- name: add nvm line to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: '{{ nvm_lines }}'
    marker: '# {mark} NVM setting'
    create: yes
  when: nvm_lines != None

- name: add chruby to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: '{{ chruby_lines }}'
    marker: '# {mark} chruby'
    create: yes
  when: chruby_lines != None

- name: add postgresql15 export path  to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: '{{ postgresql15_lines }}'
    marker: '# {mark} postgresql15'
    create: yes
  when: postgresql15_lines != None

- name: add JAVA_HOME to zshrc file
  blockinfile:
    path: ~/.zshrc
    block: '{{ java_lines }}'
    marker: '# {mark} java'
    create: yes
  when: java_lines != None  

- name: Set terminal profile
  shell: defaults write com.apple.Terminal 'Default Window Settings' {{terminal.profile}}

- import_tasks: hostname.yml
- import_tasks: finder.yml
- import_tasks: dock.yml
