---
computername: mttPC-2023
hostname: mttPC-2023
user: paoli
prompt: "'%n@%m %/ %# '"
nvm_lines: |
  export NVM_DIR="$HOME/.nvm"
   [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
ruby_version: "3.2.2"
chruby_lines: |
  source $(brew --prefix)/opt/chruby/share/chruby/chruby.sh
  source $(brew --prefix)/opt/chruby/share/chruby/auto.sh
  chruby ruby-{{ ruby_version }}
postgresql15_lines: |
  export PATH="$(brew --prefix)/opt/postgresql@15/bin:$PATH"

personal_data:
  &personal_data {
    key: "~/.ssh/mtt-id_ed25519",
    repo: git@github.com:mttpla,
    folder: ~/private,
  }

ssh_keys:
  - "{{ personal_data.key }}"
  - "~/.ssh/ws-github-id_ed25519"

dock:
  position: BOTTOM
  size: 40
  hotCorners:
    topLeft: 2
    topRight: 2
    bottomRight: 2
    bottomLeft: 2

  apps:
    - { name: Terminal, path: /System/Applications/Utilities/Terminal.app }
    - { name: "Google Chrome", path: "/Applications/Google Chrome.app" }
    - { name: Telegram, path: /Applications/Telegram.app }
    - { name: WhatsApp, path: /Applications/WhatsApp.app }

finder:
  showDriveOnDestktop: "true"
  showHiddenFiles: "true"
  showFilesExtentions: "true"
  showStatusBarInFinder: "true"
  showPathBarInFinder: "true"

terminal:
  profile: "Homebrew"

homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - homebrew/cask-drivers
  - homebrew/cask-fonts
  - homebrew/cask-versions
  - github/gh
  - aws/tap
  - kdash-rs/kdash
  - cargo-lambda/cargo-lambda
  - messense/macos-cross-toolchains

homebrew_apps:
  # - dockutil need to be fixed
  - clipy
  - telegram
  - whatsapp
  - skype
  - discord
  - gimp
  - google-chrome
  - firefox
  - libreoffice
  - sublime-text
  - webex
  - bitwarden
  - sourcetree
  - visual-studio-code
  - intellij-idea-ce
  - kindle
  - microsoft-remote-desktop
  - firefox-developer-edition
  - openvpn-connect
  - postman
  - drawio
  - teamviewer
  - zoom
  - obsidian
  - miro
  - temurin8 #jdk8
  - docker
  # todo
  # - gotosign desktop, missing

homebrew_packages:
  # macos specific
  - mas
  - m-cli
  # utility
  - curl
  - git
  - watch
  - zsh
  - nmap
  - openssl@3
  - youtube-dl
  # dev
  - nvm # node
  - python
  - go
  - openjdk
  # use sh.rustup.rs - rustup-init
  - cargo-lambda
  - aarch64-unknown-linux-gnu
  - mongosh
  - postgresql@15 #adding line to ~/.zshrc
  # dev-ops
  - kubernetes-cli
  - kubectx
  - awscli
  - eksctl
  - kdash
  - syncthing
  # extra dev
  - openjdk@11
  - openjdk@17
  - chruby
  - ruby-install
  - minikube
  - codex
  - zed

repositories:
  - { <<: *personal_data, branch: "master", name: mttpla.github.io }
  - { <<: *personal_data, branch: "main", name: serverino }
  - { <<: *personal_data, branch: "main", name: techJournal }

# mas_common_apps:
# - { name: 1Blocker, id: 1107421413 }
# - { name: Bear, id: 1091189122 }
# - { name: Pages, id: 409201541 }
# - { name: Patterns, id: 429449079 }
# - { name: Tweetbot, id: 1384080005 }
